@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Login";
}
<h3>Reset Password</h3>
<hr />
<form method="post" asp-action="ResetPassword">
    <div asp-validation-summary="All" class="text-danger"></div>
    <input asp-for="@Model.token" hidden />
    <input asp-for="@Model.Email" hidden />
    <div>
        <label asp-for="@Model.Password"></label>
        <input asp-for="@Model.Password" class="form-control">
        <span asp-validation-for="@Model.Password" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="@Model.ConfirmPassword"></label>
        <input asp-for="@Model.ConfirmPassword" class="form-control">
        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>

</form>