@model List<UserRoleViewModel>

@{
    ViewData["Title"] = "Add or remove users";
    var RoleId = ViewBag.RoleId;
}

<form method="post">
    <div class="card mt-3">
        <div class="card-header">
            Add or remove users from this role
        </div>
        <div class="card-body">
            @if (Model.Any())
            {
                @for (int i = 0; i < Model.Count; i++)
                {
                    <div class="card-title">
                        <input asp-for="@Model[i].UserId" class="form-check-input" hidden>
                        <input asp-for="@Model[i].UserName" class="form-check-input" hidden>
                        <input asp-for="@Model[i].IsSelected" class="form-check-input">
                        <label asp-for="@Model[i].IsSelected" class="form-check-label">@Model[i].UserName</label>
                    </div>
                }
            }
            else
            {
                <h5 class="card-title">There is no users.</h5>
            }

        </div>
        <div class="card-footer">
            <input type="submit" asp-route-RoleId="@RoleId" class="btn btn-primary" value="Update">
            <a asp-controller="Administration" asp-action="EditRole" 
                asp-route-ID="@RoleId" class="btn btn-light">Cancel</a>
        </div>
    </div>
</form>

